<head>
  <meta charset="utf-8">
  <title>Cocktails</title>
  <link rel="stylesheet" href="/static/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>