[submodule "week-04/project/gallery"]
	path = week-04/project/gallery
	url = https://github.com/ajaxjiang96/gallery
[submodule "week-05/day-03/jsa-chatroom-client"]
	path = week-05/day-03/jsa-chatroom-client
	url = https://github.com/ajaxjiang96/jsa-chatroom-client
[submodule "week-06/day-04/todo"]
	path = week-06/day-04/todo
	url = https://github.com/ajaxjiang96/todo.git
[submodule "week-08/gallery-react-native"]
	path = week-08/gallery-react-native
	url = https://github.com/ajaxjiang96/gallery-react-native.git
