[submodule "week-04/project/gallery"]
	path = week-04/project/gallery
	url = https://github.com/ajaxjiang96/gallery
[submodule "week-05/day-03/jsa-chatroom-client"]
	path = week-05/day-03/jsa-chatroom-client
	url = https://github.com/ajaxjiang96/jsa-chatroom-client
