html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  all: unset;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #ccc; */
}

header {
  position: fixed;
  top: 0;
  padding: 40px;
}

header h1,
header h1>input {
  color: #999;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

header h1>input,
header h1>input:focus {
  border: none;
  outline: none;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 40px;
  color: #ccc
}

footer a {
  font-weight: bold;
}

footer a:visited {
  color: inherit;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  transition: background .5s ease-in-out;
}

.galleryController {
  margin: 0 20px;
  padding: 40px;
  color: #ccc;
}

.galleryController:hover {
  background: #eee;
}

.galleryContainer {
  background: white;
  /* width: 80vw; */
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryContainer>ul {
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 20px;
  margin: auto -20px;
}

.galleryContainer>ul.loading {
  background: #ccc;
  height: 45px;
  width: 50vw;
  /* box-sizing: border-box; */
}


.galleryContainer>ul>li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryContainer>ul>li .indicator {
  display: flex;
  width: 5px;
  height: 5px;
  background: #999;
  margin: 5px;
  border-radius: 100%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.galleryContainer>ul>li .indicator.selected {
  opacity: 1;
}

.galleryContainer>ul li>button {
  all: unset;
  width: 80px;
  height: 45px;
  transition: box-shadow .5s ease-in-out;
  cursor: pointer;
}

.galleryContainer>ul li>button:hover,
.galleryContainer>ul li>button.selected {
  box-shadow: 0 5px 10px #0005;

}

.galleryContainer>ul li>button>img {
  width: 80px;
  height: 45px;
  object-fit: cover;
}

.galleryContainer>ul li+li {
  margin-left: 10px;
}

.galleryContainer>ul li {
  position: relative;
  overflow: visible;
  display: flex;
}

.galleryContainer>ul li .tooltip {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  width: 120px;
  padding: 3px;
  background: #000c;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 999;
  top: 48px;
  height: 0.9rem;
  overflow: visible;
  border-radius: 5px;
}

.galleryContainer>ul li .tooltip .content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  display: block;
  font-size: .8rem;
  display: flex;
  max-width: 80%;
  /* background: #000c; */
  color: white;
  text-align: center;
}

.galleryContainer>ul li .tooltip .shape {
  /* background: red; */
  position: absolute;
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000c;
}

.galleryContainer>ul li:hover .tooltip {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px #0005;
}

.galleryMainImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imgWrapper {
  width: 100%;
  /* height: 200%; */
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-out;
}

.fit-contain {
  height: 100%;
  width: 100%;
}

.imgContainer {
  display: flex;
  position: relative;
  width: 50vw;
  height: 28.125vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: white;
}

.toolBar {
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0;
  transition: opacity .5 ease-in-out;
}

.toolBar>button {
  all: unset;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  transition: background .5s ease-in-out;
  border-radius: 5px;
  color: #999
}

.toolBar>.pagination {
  display: flex;
  font-size: 1rem;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  color: #999;
}


.toolBar>button:hover {
  background: #eee;
  cursor: pointer;
}

figure.imgViewer {
  margin: 0;
  position: relative;
  overflow-y: hidden;
  transition: box-shadow .5s ease-out;
}

figure.imgViewer>figcaption {
  padding: 20px;
  box-sizing: border-box;
  background: #0005;
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  opacity: 0;

  transition: all 0.5s ease-in-out;
  /* font-weight: bold; */
}

figure.imgViewer h1 {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: .5rem 0;
  line-height: 1.6rem;

}

figure.imgViewer h2 {
  font-size: 1rem;
  opacity: 0.5;
  margin: 0;
  line-height: 1.2rem;
}

figure.imgViewer h2 a,
figure.imgViewer h2 a:visited {
  color: white;
}


.imgViewer:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px #0005;
}

.imgViewer:hover>figcaption {
  /* bottom: 0; */
  opacity: 1;
}

.imgViewer:hover .toolBar {
  opacity: 1;
}

.imgViewer.loading .imgContainer {
  background: #ccc;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}