html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  all: unset;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  /* justify-content: flex-end; */

}

header {
  box-sizing: border-box;

  background: rgb(176, 42, 255);
  padding: 20px 0;
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

nav {
  width: 800px;
}

main {
  /* background: rgb(255, 214, 42); */
  flex: 1;
  display: flex;
  /* margin-left: 10px; */
  flex-direction: column;
  /* flex-wrap: wrap; */
}

footer {
  height: 100px;
  background: #ccc;
  margin-top: 10px;
  width: 800px;

}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 800px;
  align-items: center;
  margin: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 800px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1
}

section {
  display: flex;
  flex: 1;
  background: rgb(81, 212, 0);
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.item {
  width: 100px;
  height: 30px;
  display: inline-block;
  background: cyan;
}

.item+.item {
  margin-left: 20px;
}

section.img-content {
  flex: 0.5
}

.row+.row {
  margin-top: 10px;
}

.col {
  flex: 0.5;
}

.col+.col {
  margin-left: 10px;
}

.tile {
  display: flex;
  flex-direction: row;
  flex: 1
}

.tile+.tile {
  margin-left: 10px;
}

.img-content {
  display: flex;
  flex: 1;
  background: red;
}