html {
  font-size: 16px;
  color: rgb(40, 56, 75);
}

body {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  background: rgb(232, 236, 238);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(40, 56, 75, .2);
}

a+a {
  margin-top: 20px;
}

img {
  width: 100px;
}

.weather-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-temp {
  font-size: 2rem;
}

.weather-message {
  text-align: center;
  margin: 20px 0;
  font-size: .8rem;
}

h1 {
  margin: 0;
  font-weight: 900;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

.row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

section.col {
  width: unset;
  align-items: center;
  width: 120px;
}

section.col .weather-temp {
  font-size: 1.5rem;
}

section+section {
  margin-left: 20px;
}